
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    background-image: url('images/HD-wallpaper-black-space-black-star-stars.jpg');
    position: relative;
    width: 350px;
    height: 500px;
}
.astronaut {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('./images/a.png');
    background-size: cover;
}