body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    background-image: url('images/HD-wallpaper-black-space-black-star-stars.jpg');
    position: relative;
    width: 450px;
    height: 700px;
    z-index: -1;
}

.astronaut {
    background-color: blue;
    z-index: 1;
    position: absolute;
    background-position: center;
    background-image: url('./images/a.png');
    background-size: cover;
    width: 50px;
    height: 90px;
}

.platform {
    position: absolute;
    width: 70px;
    background-color: red;
    height: 40px;
    background-image: url('./images/luna.png');
    background-size: 90px 120px;
    background-position: center;
}