body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canvas {
    background-image: url('images/HD-wallpaper-black-space-black-star-stars.jpg');
    position: relative;
    width: 450px;
    height: 700px;
    z-index: -1;
}
.canvas2{
    background-image: url('images/milky-way-2695569__480.jpg');
    position: relative;
    width: 450px;
    height: 700px;
    z-index: -1;
}
.astronaut {
    z-index: 1;
    position: absolute;
    background-position: center;
    background-image: url('./images/a.png');
    background-size: cover;
    width: 50px;
    height: 90px;
}
.astronautLet{
    transform: scaleX(-1);
}
.astronautRigth {
    transform: scaleX(1);
}
.platform {
    position: absolute;
    width: 70px;
    height: 40px;
    background-image: url('./images/luna.png');
    background-size: 90px 120px;
    background-position: center;
}
.start-page{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    background-color: aliceblue;
}
.gameover{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 40px;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: aliceblue;
}
.hide{
    display: none;
}
.see {
    display: flex;   
}